<html>
<footer> 
        <div class="footer-bottom">
            <p>copyright &copy;2021 <a href="#">GamingForum</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#blog">Blog</a></li>
                      </ul>
                    </div>
        </div>
      </footer>
</html>

<!-- <footer b-62ip2yfgpx class="border-top footer text-muted">
    <div b-62ip2yfgpx class="container">
        &copy; 2022 - GamingForum - <a href="/Home/Privacy">Privacy</a>
    </div>
</footer> -->